* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress-bar-container {
    margin-inline: 1rem;
    margin: 0 1rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 800px;
}

.indicator {
    font-family: monospace;
    font-size: 0.9rem;
    color: black;

}

.progress-bar-wrapper {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    border-radius: 10px;
}