.image {
    float: left;
    border: 3px solid black;
    margin: 20px;
}

.image:hover {
    cursor: pointer;
    width: 110px;
    margin: 10px;
    padding: 5px;
    border: 3px dashed red;
}

.p {
    width: 100%;
    background-color: rgb(235, 255, 79);
    border: 3px solid black;
}