.box {
    width: 400px;
    height: 40px;
    margin: 30px;
    box-shadow: 0px 0px 5px gray;
    position: relative;
}

.p {
    font-size: 10px;
    padding: 0;
    margin: 0 0 0 23px;
    position: relative;
    top: -10px;
}

.title {
    position: relative;
    top: -15px;
    margin: 0 0 0 25px;
    padding: 0;
}

.x {
    position: absolute;
    top: 0;
    right: 0;
}

h6 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.box0 {
    width: 170px;
    height: 100px;
    padding: 10px 0 0 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 2px solid black;
    border-radius: 10px;
}